body{
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
    font-display: center;
    margin-left: 16%;
    color: maroon;
    
}
#intial{
    color: red;
    font-size: 25px;
    margin-left: 20%;
    font-weight: 800;
}
.first{
    background-image: url(flood-pic.png);
    background-repeat: no-repeat;
    height: 90vh;
    padding: 10px 20px 30px;
}
.button-type{
    background-color: deeppink;
    padding: 10px 20px;
    margin-left: 45%;
    border-radius: 5px;
    
}