body{
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
    font-display: center;
    margin-left: 16%;
    color: maroon;
    
}
#intial{
    color: red;
    font-size: 25px;
    margin-left: 20%;
    font-weight: 800;
}
.first{
    background-image: url(flood-pic.png);
    background-repeat: no-repeat;
    height: 90vh;
    padding: 10px 20px 30px;
}
.button-type{
    background-color: deeppink;
    padding: 10px 20px;
    margin-left: 45%;
    border-radius: 5px;
    
}
.donate-today{
    margin-top: 5%;
    margin-left: 30%;
    padding: 50px 30px 20px;
}

h2{
    font-weight: 900;
    flex-direction: row-reverse;
}
.donater-taka{
    text-decoration: none;
    background-color:gold;
    margin-left: 10%;
    padding: 5px 10px 15px;
}

.total-amount{
    margin-left: 42%;
    margin-top: 3%;
}
#border{
    border: 5px solid greenyellow;
}
#paradonat{
    margin-left: 20%;
}
h3{
    font-weight: 800;
}
.container{
    display: flex;
    margin-top: 3%;
    padding: 30px 20px 30px;
    box-shadow: 15px;
}
#food{
    border: 5px solid rebeccapurple;
    border-radius: 5px;
    box-shadow: 7px;
}
#shelter{
    border: 7px dotted red;
    border-radius: 10px;
    box-shadow: 10px;
}
#education{
    border: 10px dashed palegreen;
    border-radius: 10px;
    box-shadow: 20px;
}
#footerall{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: black;
    color: crimson;
    font-weight: 900;
}
.mypot{
    display: flex;
    padding: 10% 20%  30%;
}
#imageresize{
    height: 280px;
    width: 350px;}

#self-gec{
    color:darkcyan;
}
#lasttag{
    font-size: 30px;
    color: purple;
}
#mymail{
    text-decoration: none;
    margin-left: 40%;
    background-color: springgreen;
    border: 10px solid blueviolet;
    border-radius: 7px;


}
#listpara{
    margin-left: 5%;
    color: sienna;
    font-weight: 900;
}
